In [1]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import LabelEncoder

# ======= 1. Data Loading and Preparation ======= #

# Load datasets
insurance_data = pd.read_csv('insurance.csv')
salaries_data = pd.read_csv('Salaries.csv')

# Get dummies for categorical columns in insurance data
insurance_data = pd.get_dummies(insurance_data, columns=['smoker', 'sex', 'region'], drop_first=True)

# Prepare data for SLR
X_slr = insurance_data[['smoker_yes', 'sex_male']].values  # Predictor variables
y_slr = insurance_data['charges'].values  # Target variable

# Get dummies for categorical columns in salaries data
salaries_data = pd.get_dummies(salaries_data, columns=['sex', 'rank', 'discipline'], drop_first=True)

# Prepare data for MLR
X_mlr = salaries_data[['yrs.since.phd', 'yrs.service', 'sex_Male', 'rank_Prof', 'discipline_B']].values  # Predictor variables
y_mlr = salaries_data['salary'].values  # Target variable

In [3]:
# Adding a column of ones to X for the intercept term in SLR
X_slr = np.c_[np.ones(X_slr.shape[0]), X_slr]  # Add intercept

# Gradient Descent for SLR
def gradient_descent(X, y, learning_rate=0.01, iterations=1000):
    m = len(y)
    theta = np.zeros(X.shape[1])  # Initialize theta (parameters)
    cost_history = []

    for i in range(iterations):
        prediction = X.dot(theta)  # Linear prediction
        error = prediction - y     # Error term
        cost = (1/(2*m)) * np.dot(error.T, error)  # Cost function
        cost_history.append(cost)
        gradient = (1/m) * X.T.dot(error)  # Gradient calculation
        theta = theta - learning_rate * gradient  # Update theta
    return theta, cost_history

# Apply Gradient Descent for SLR
theta_slr, cost_history_slr = gradient_descent(X_slr, y_slr, learning_rate=0.001, iterations=10000)
print("Theta values for SLR:", theta_slr)
print("Final cost for SLR:", cost_history_slr[-1])

Theta values for SLR: [ 4584.41831025  4584.41831025 19048.17022265   502.98036407]
Final cost for SLR: 29565676.918020952

KeyError: 'sex_male'

In [14]:
data_multiple_logistic

     Unnamed: 0      rank discipline  yrs.since.phd  yrs.service   sex  salary
0             1      Prof          B             19           18  Male  139750
1             2      Prof          B             20           16  Male  173200
2             3  AsstProf          B              4            3  Male   79750
3             4      Prof          B             45           39  Male  115000
4             5      Prof          B             40           41  Male  141500
..          ...       ...        ...            ...          ...   ...     ...
392         393      Prof          A             33           30  Male  103106
393         394      Prof          A             31           19  Male  150564
394         395      Prof          A             42           25  Male  101738
395         396      Prof          A             25           15  Male   95329
396         397  AsstProf          A              8            4  Male   81035

[397 rows x 7 columns]

In [15]:
data_multiple_logistic = data_multiple_logistic.drop(columns="Unnamed: 0")

In [16]:
data_multiple_logistic

         rank discipline  yrs.since.phd  yrs.service   sex  salary
0        Prof          B             19           18  Male  139750
1        Prof          B             20           16  Male  173200
2    AsstProf          B              4            3  Male   79750
3        Prof          B             45           39  Male  115000
4        Prof          B             40           41  Male  141500
..        ...        ...            ...          ...   ...     ...
392      Prof          A             33           30  Male  103106
393      Prof          A             31           19  Male  150564
394      Prof          A             42           25  Male  101738
395      Prof          A             25           15  Male   95329
396  AsstProf          A              8            4  Male   81035

[397 rows x 6 columns]

In [19]:

X_multiple = data_multiple_logistic.drop(columns="salary").values  # Multiple features for the other two algorithms
y_multiple = data_multiple_logistic['salary'].values  # Target for both Multiple Linear and Logistic Regression

TypeError: can't multiply sequence by non-int of type 'float'